h1{
	text-align: center;
	font-weight: bolder;
}

.row{
	margin-top: 5%;
}

img{
    max-width: 100%;
}

.texto{
	background: #ECEFF1;
	color: #263238;
	padding: 1.2em;
	text-align: center;
}

.texto p{
	font-size: 22px;
}

.video{
	text-align: center;
	background: black;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: -3%;
}

iframe{
	max-width: 60%;
}

@media screen and (max-width: 700px) {
	iframe{
		max-width: 90%;
		padding-right: 5%;
		padding-left: 5%;
	}
}