body{
	background: #263238;
	font-family: 'Raleway', sans-serif;
	color: #ECEFF1;
}

.nav a{
	color: #ECEFF1;
	margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.nav a:hover{
	color: #263238;
}

.nav li{
	float:left;
	display: block;
}

.nav{
	float: left;
  list-style-type: none;
  padding: 0; 
	position: relative;
	left: 50%;
	display: block;
}

li{
	float: left;
  position: relative; 
  right: 50%;
}

.container{
	display: block;
}

footer{
	background-color: black;
  position: relative;
  bottom: 0;
  width: 100%;
}