<div clas="container">
  <ul class="nav">
        <li class="active"><a [routerLink]="['/home']">Home</a></li>
        <li><a [routerLink]="['/the-rolling-stones']">The Rolling Stones</a></li>
        <li><a [routerLink]="['/the-beatles']">The Beatles</a></li>
        <li><a [routerLink]="['/queen']">Queen</a></li>
        <li><a [routerLink]="['/foo']">Foo</a></li>
        <li><a [routerLink]="['/bar']">Bar</a></li>
  </ul>
 </div>

<div class="container">
	<router-outlet></router-outlet>
</div>