<div class="container">	
	<div class="jumbotron">
    	<h1>Angular Rocks</h1>
    	<p>Bienvenidos a Angular Rocks una web donde encontrarás todo sobre el Rock.</p>
    	<p>" Todas mis letras han sido pedazos de poesía y los pedazos de poesía se toman de poemas que comúnmente no tienen significado en el primer momento."</p>
    	<p>(Kurt Cobain)</p>
  </div>
</div>